<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
</head>
<body>
<div style='float:left'>
    <pre th:utext="${board}">보드판</pre>
</div>
<form style='float:right;margin-right:200px;margin-top:200px' th:action="@{/game/select}" action="game.html"
      method="post">
    <div>
        <label for="strPiece">선택할 기물:</label>
        <input type="text" id="strPiece" name="strPiece" th:field="${strPiece}" placeholder="좌표를 입력하세요">
        <button type="submit">입력</button>
    </div>
</form>
</body>
</html>